<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MOAH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/metisMenu.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="assets/css/typography.css">
    <link rel="stylesheet" href="assets/css/default-css.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="/"><img src="assets/images/icon/logo.png" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li class="active">
                            <a href="/" aria-expanded="true"><i class="fa fa-home"></i><span>홈 화면</span></a>
                        </li>
                        <li>
                            <a href="#" aria-expanded="true"><i class="fa fa-user"></i><span>마이 페이지</span></a>
                            <ul class="collapse">
                                <li><a href="/my_buy">나의 구매 조회 </a></li>
                                <li><a href="/my_sell">나의 판매 조회 </a></li>
                                <li><a href="/my_verify">나의 검증 조회 </a></li>
                            </ul>
                        </li>
                        <%if(user_type===0){%>
                            <li>
                                <a href="#" aria-expanded="true"><i class="fa fa-eye"></i><span>관리자 페이지</span></a>
                                <ul class="collapse">
                                    <li><a href="/auth_verifier">검증자 승인 </a></li>
                                </ul>
                            </li>
                        <%}%>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-credit-card"></i><span>데이터 구매 </span></a>
                            <ul class="collapse">
                                <li><a href="/buy">구매 등록 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-database"></i><span>데이터 판매 </span></a>
                            <ul class="collapse">
                                <li><a href="/view_trade">거래 조회 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-check"></i><span>데이터 검증 </span></a>
                            <ul class="collapse">
                                <li><a href="/verify_warning">검증 하기 </a></li>
                            </ul>
                            <ul class="collapse">
                                <li><a href="/verifier">검증자 신청 </a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- profile info & task notification -->
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">데이터 판매 </h4>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img class="avatar user-thumb" src="assets/images/author/avatar.png" alt="avatar">
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown"><%=user_email%> <i class="fa fa-angle-down"></i></h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">회원정보 수정</a>
                            <a class="dropdown-item" id="btn_logout" href="#">로그아웃 </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            <!-- sales report area start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h3>판매 등록 </h3><br>
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">판매 등록시 주의사항</h4><br>
                            <p>
                                구매자가 제시한 구매 데이터의 종류 및 형식을 맞춰서 데이터를 업로드 해야 합니다. <br>
                                업로드 한 데이터는 적절한 검증 과정을 거쳐 정확도가 산정됩니다.<br>
                                판매자에게 지급되는 토큰 량은 정확도에 따라 차등 지급됩니다. <br>
                                토큰 파밍을 목적으로 적절하지 않는 데이터를 업로드 할 경우, 계정이 정지되고, 데이터 구매자는 이에 대한 민·형사상의 책임을 물을 수 있습니다.
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="example-text-input" class="col-form-label">판매 데이터<small>(zip파일)</small><span class="required">*</span></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file_input" accept="application/zip">
                                <label class="custom-file-label" for="inputGroupFile01" id="file_label">판매 데이터를 업로드 해주세요</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-search-input" class="col-form-label">판매 내용<span class="required">*</span></label>
                            <textarea class="form-control" placeholder="판매 데이터에 대해 자세하게 설명해 주세요" id="sp_detail"></textarea>
                        </div>
                        <button type="submit" id="sell_submit" class="btn btn-primary mt-4 pr-4 pl-4">구매 등록 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
        <div class="footer-area">
            <p>© Copyright 2019. All right reserved.</p>
        </div>
    </footer>
    <!-- footer area end-->
</div>
<!-- jquery latest version -->
<script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>

<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- start zingchart js -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://unpkg.com/ipfs-api/dist/index.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<!-- all line chart activation -->
<script src="assets/js/line-chart.js"></script>
<!-- all pie chart -->
<script src="assets/js/pie-chart.js"></script>
<!-- others plugins -->
<script src="assets/js/plugins.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/bundle.js"></script>
<script src="assets/js/sell.js"></script>
<script>
    const trade_id = parseInt("<%=trade.trade_id%>");
    const trade_user_id = parseInt("<%=trade.trade_user_id%>");
</script>
</body>

</html>
