<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Withdrawal</title>
</head>
<body>
    <a href="" id="submitEmail">회원탈퇴</a>
    <br><a href="/">관리자 홈으로</a>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $('#submitEmail').on('click', function(event){

            $.ajax({
                url: '/withdrawal',    //Your api url
                type: 'PUT',   //type is any HTTP method
                data: {

                },      //Data as js object
                success: function () {

                }
            });
        });
    </script>
</body>
</html>